body {
    background-color: darkmagenta;
}

#content {
    margin: auto;
    width: 98%;
    padding: 10px;
}

.lyre-instrument {
    margin-top: 1em;
    display: flex;
}

.lyre-button {
    margin: 0px;
    padding: 0px;
}

.bigSpace {
    padding: 1em;
}

.noteTrack {
    background-color: cornsilk;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 1em;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.noteTrack-slot {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 12rem;
    border: 1px solid black;
    text-align: center;
}

.noteTrack-16th {
    min-width: 1rem;
    font-size: smaller;
}

.noteTrack-8th {
    min-width: 2rem;
}

.noteTrack-4th {
    min-width: 4rem;
}

.noteTrack-2th {
    min-width: 8rem;
}

.noteTrack-1th {
    min-width: 16rem;
}

.noteTrack-selected {
    background-color: yellow;
}

.noteTrack-playing {
    background-color: red;
}

.noteTrack-label {
    background-color: black;
    color: white;
    font-size: medium;
}
