body {
    background-color: darkmagenta;
    padding: 0;
    margin: 0;
}

#content {
    margin: auto;
    width: 98%;
    padding: 10px;
}

.lyre-instrument {
    margin-top: 1em;
    display: flex;
}

.lyre-button {
    margin: 0px;
    padding: 2px;
}

.bigSpace {
    padding: 1em;
}

.noteTrack {
    background-color: cornsilk;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 1em;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.noteTrack-slot {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 12rem;
    border: 1px solid black;
    text-align: center;
}

.noteTrack-16th {
    min-width: 1rem;
    font-size: smaller;
}

.noteTrack-8th {
    min-width: 2rem;
}

.noteTrack-4th {
    min-width: 4rem;
}

.noteTrack-3th {
    min-width: 3rem;
}

.noteTrack-2th {
    min-width: 8rem;
}

.noteTrack-1th {
    min-width: 16rem;
}

.noteTrack-outOfRange {
    background-color: rgb(139, 110, 219);
}

.noteTrack-selected {
    background-color: yellow;
}

.noteTrack-playing {
    background-color: red;
}

.noteTrack-label {
    background-color: black;
    color: white;
    font-size: medium;
}

.status {
    overflow: hidden;
    background-color: rgb(228, 228, 228);
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 1.25em;
    border-top: 2px solid black;
}

.status-center {
    margin: 0;
    padding: 3px;
    text-align: center;
}

#revealText {
    width: 500px;
    background-color: rgb(183, 219, 136);
    padding: 2px;
    margin: 1.5em;
    border: solid 2px black;
}

#notation-container {
    background-color: rgb(183, 219, 136);
    padding: 2px;
    margin: 1.5em;
    border: solid 2px black;
}
