body {
    background-color: darkmagenta;
}

#content {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.lyre-instrument {
    margin-top: 1em;
    display: flex;
}

.lyre-button {
    margin: 0px;
    padding: 0px;
}

.bigSpace {
    padding: 1em;
}

.noteTrack {
    background-color: cornsilk;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 1em;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.noteTrack-slot {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-width: 2em;
    height: 12em;
    border: 1px solid black;
    text-align: center;
}

.noteTrack-selected {
    background-color: yellow;
}

.noteTrack-playing {
    background-color: red;
}

.noteTrack-label {
    background-color: black;
    color: white;
}
